

<div class="homeWapper">
  <ng-container #generator="appRandomNumber" appRandomNumber
  (numberGenerated)="onNumberGenerated($event)"
></ng-container>

<mat-card>
  <mat-card-header>
    <mat-card-title>Random number generator</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <p>
      Your random number is {{ generatedNumber }}
    </p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button
      (click)="generator.generateNumber()"
    >
      GENERATE
    </button>
  </mat-card-actions>
</mat-card>



  <form>
    <div class="form-group">
      <p>Guess the Number</p>
      <!-- <input type="text" [value]="guessedNumber"> -->
      <input type="text" class="form-control" id="name" required [(ngModel)]="guessedNumber" name="gnumber"
        #gnumber="ngModel">

      <div style="color: blanchedalmond;" [hidden]="gnumber.valid || gnumber.pristine" class="alert alert-danger">
        three digits number is required
      </div>
    </div>

    <button class="button" (click)="onSubmit()">Submit</button>
  </form>
  <div class="trck-result">
    <p>step up result:</p>
    <p>{{"your number is:"+ guessedNumber}}</p>
  <p>{{"rNum 1: "+rNumber.fDigit+" - gNum 1:"+gNumber.fDigit+" - result 1: "+ result.fResult}}</p>
  <p>{{"rNum 2: "+rNumber.sDigit+" - gNum 2:"+gNumber.sDigit+" - result 2: "+ result.sResult}}</p>
  <p>{{"rNum 3: "+rNumber.tDigit+" - gNum 3:"+gNumber.tDigit+" - result 3: "+ result.tResult}}</p>
  </div>

</div>
